<div class="banner" >
  <%# https://blog.ruedesvignerons.com/wp-content/uploads/2019/03/Couverture-1.png %>
  <div class="container">
    <h1 class='text-center'><%= t("banner_h1") %></h1>
    <p class='text-center'><%= t("banner_p1") %>
      <br>
      <%= t("banner_p2") %></p>
  </div>
</div>
