<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://blog.ruedesvignerons.com/wp-content/uploads/2019/03/Couverture-1.png');">
  <div class="container">
    <h1 class='text-center'><%= t("banner_h1") %></h1>
    <p class='text-center'><%= t("banner_p1") %></p>
    <p class='text-center'><%= t("banner_p2") %></p>
  </div>
</div>
