<div class="my-3">
  <%= month_calendar(events: @bookings, attribute: :start_date, end_attribute: :end_date) do |date, bookings| %>
    <div >
      <%= date %>
      <% bookings.each do |booking| %>
        <div style = "background:pink;">
        </div>
      <% end %>
    </div>
  <% end %>
</div>
