<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new booking from https://le-clos-valliere.herokuapp.com/</p>
    <p>
      booking:<br>
      ----------
      Room: <%= Room.find(@booking.room_id).name %>
    </p>
    <p>Arrival day : <%= @booking.start_date %>, departure day: <%= @booking.end_date + 1%>  </p>
  </body>
</html>
