.our_activities {
  margin: 0 3em 3em 3em;
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}

.equipment {
  display: flex;
  justify-content: space-evenly;
}



.activity_list_card {
  width: 250px;
  img {
    display:flex;
    margin: auto;
  }
  p {
    text-align: center;
  }
}

.equipment-list-card {
  width: 270px;
      display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
  img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p {
margin-bottom: 0;
  }
}
