.calendar_head{
  font-size: 2em;
}

.headers{
  align-content: center;
}

.calendar-header{
  background-color: rgb(224, 250, 224);
}
td{
  vertical-align: middle !important;
  text-align: center;
}
th{
  vertical-align: middle !important;
  text-align: center;
}
.sticky{
    position: sticky;
  top: 1em;
}

.simple-calendar .day {
  height: 50px;
}
