.calendar_head{
  font-size: 2em;
}

.headers{
  align-content: center;
}

.calendar-header{
  background-color: rgb(224, 250, 224);
}
td{
  vertical-align: middle !important;
  text-align: center;
}
th{
  vertical-align: middle !important;
  text-align: center;
}
.sticky{
    position: sticky;
  top: 1em;
}

.simple-calendar .day {
  height: 50px;
}

// app/assets/stylesheets/components/_calendar.scss
.simple-calendar {
  table {
    min-height: 40vh;
  }
  .today {
    background-color: #FAF3DD;
  }
   .past {
     background-color: grey;
   }

   .future {
     background-color: rgb(224, 250, 224);;
   }
   .has-events {
     background-color: pink;
   }
}

.booking {
  margin-bottom: 0;
}
