.owl-carousel {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  height: fit-content;

  .owl-prev {
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    font-size: 30px !important;
  }
  .owl-next {
    position: absolute;
    top: 0;
    right: 0;
    height: 90%;
    font-size: 30px !important;
  }
  .owl-item img {
    object-fit: cover;
    height: 30em;
    justify-content: center;
    align-items: center;
  }
}
.owl-item.active:hover {
  cursor: grab;
}

.owl-stage-outer {
  height: 300px;
}
