.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  width: 100%;
  position: absolute;
  bottom: 0;

}

.footer-container {

  height: fit-content;
  /* Height of the footer*/
  background-color: rgba(92, 209, 46, 0.6);
  position: relative;
  p{
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgba(240, 240, 240, 0.5);
    margin-bottom: 0;
  }
  h6{
    font-size: 24px;
    color: rgb(110, 110, 110);
    text-shadow: 1px 1px 3px rgba(240, 240, 240, 0.5);
  }

}

.footer-container:before {

  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: asset-url('palm-leaf.png');
  z-index: -1;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
