// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "footer";
@import "carousel";
@import "cards";
@import "map";
@import "banner";
@import "button";
@import "calendar";
@import "rooms";
@import "modal";
@import "activity_list_card";
@import "form";

h1, h2, h3, h4, h5{
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4);
  text-shadow: 0px 0px 1px rgba(0, 0, 0 ,0.4);
  font-family: $title-font;
}
body {
  font-family: $card-body;
}
p{
  font-size: 24px;
}

.calendar-heading{
  font-size: 20px;
}
.table-size{
  height:300px;
}




// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .equipment {
    display: grid;
    grid-template-columns:  1fr;
  }
    .activities {
    display: grid;
     grid-template-columns: 1fr;
  }
  .navbar-lewagon{
    display: grid;
    grid-template-columns:  1fr;
  }
  .nav-item{
    text-align: center;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 768px)  {
  .equipment {
    display: grid;
     grid-template-columns: 1fr 1fr;
  }
  .activities {
    display: grid;
     grid-template-columns: 1fr;
  }
  .navbar-lewagon{
    display: grid;
    grid-template-columns:  1fr;
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 992px) {
 .equipment {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .activities {
    display: grid;
     grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}


.middle{
  margin: 0 auto;
}
