// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "footer";
@import "carousel";
@import "cards";
@import "map";
@import "banner";
@import "button";
@import "calendar";
@import "rooms";
@import "modal";
@import "activity_list_card";
@import "form";

h1{
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4);
  text-shadow: 0px 0px 1px rgba(0, 0, 0 ,0.4);
  font-family: $title-font;
}
p{
  font-size: 18px;
}

.calendar-heading{
  font-size: 20px;
}
.table-size{
  height:40em;
}
