.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
#map {
  position: sticky;
  top: 20px;
}


.room-table1{
  position: sticky;
  top: 1em;
}

.room-table2{
  position: sticky;
  top: 20em;
}

.calendar-header{
  background-color: rgb(224, 250, 224);
}
td{
  vertical-align: middle !important;
  text-align: center;
}
th{
  vertical-align: middle !important;
  text-align: center;
}
