.navbar-lewagon {
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  background-color: rgba(70, 161, 34, 0.6);
  position: relative;
}

.navbar-lewagon:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: asset-url('palm-leaf.png');
  z-index: -1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.nav-item {
  padding: 0 8px;
  margin-top: 2%;
  a{
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgba(240, 240, 240, 0.5);
  }
  a:hover {
    color: rgba(92, 92, 92, 0.6);
    text-decoration: none;
  }
}

li {
  display: inline-block;
  position: relative;
  margin-right: 10px;
}
li:last-child {
  margin-right: 0;
}

li:after {
content: '';
display: block;
margin: auto;
height: 3px;
width: 0px;
background: transparent;
transition: width .5s ease, background-color .5s ease;
}

li:hover:after {
width: 100%;
background: rgb(92, 92, 92);
}

// Navbar for landing page styling below

.login {
  border-radius: 10px;
  width: 120px;
}

.lang-icon {
  margin: 14px 8px 0;
  font-size: 20px;
  &:hover {
    text-decoration: none;
  }
}
