.navbar-lewagon {
  justify-content: space-around;
  background: #7fdb73;
  height: 120px;
  font-size: 20px;
  align-items: center;
  flex-wrap: nowrap;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 120px;
  width: 120px;
}

.nav-item {
  padding: 0 8px;
  font-size: 24px;
  margin-top: 16px;
  a{
    color: black;
    font-size: 24px;
  }
  a:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  p{
    font-size: 24px;
  }
}


// Navbar for landing page styling below

.login {
  border-radius: 10px;
  width: 120px;
}
