<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://blog.ruedesvignerons.com/wp-content/uploads/2019/03/Couverture-1.png);">
  <div class="container">
    <h1 class='text-center'>Bienvenue au Clos Valliere</h1>
    <p class='text-center'>Profitez du plein air de la Touraine.</p>
  </div>
</div>
